/TworzenieAplikacji (Swing)/16-Aplikacje z wieloma ramkami/nbproject/private/
/TworzenieAplikacji (Swing)/16-Aplikacje z wieloma ramkami/build/
/TworzenieAplikacji (Swing)/17-Krawedzie/nbproject/private/
/TworzenieAplikacji (Swing)/17-Krawedzie/build/
